html
{   background-image: url("фон.jpg");
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;  
    background-color: rgb(230, 230, 230);
    display: block;
}

body
{     
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    color:rgb(210, 210, 210);
    background-color: rgba(54, 56, 57, 0.815);
}

.header
{
    display: flex;
    flex-direction: row;
}

.header--text
{
    margin-left: 2%;
    margin-right: 15%;
    text-decoration: none;

    color: rgb(210, 210, 210);
    font-size: 21px;
}


.body--line
{
    margin-left: 2%;
    margin-right: 4%;
    border: none;

	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.aside 
{
    background: rgba(54, 56, 57, 0.815);
    width: 300px;
    height: 600px;
    float: left;
    margin-left: 2%;
    margin-right: 10%;
}

.aside--text
{
    text-align: left;
    padding: 5%;
    font-size: 22px;
}


.main_text
{ 
    margin-right: 4%;
    margin-left:2%;
    font-size: 18px;
    text-align: justify;
}

footer
{
    margin-top: 5%;
    width: 100%;
    background-color: rgba(49, 49, 49, 0.87);
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 1200px) 
{
    .header--text
    {
        margin-left: 2%;
        margin-right: 10%;
        text-decoration: none;

        color: rgb(210, 210, 210);
        font-size: 21px;
    }

    .aside 
    {
        background: rgb(38, 38, 38);
        width: 300px;
        float: left;
        margin-left: 2%;
        margin-right: 5%;
    }

}

@media screen and (max-width: 992px)
{
    
    .aside 
    {
        width: 95%;
        height: 40%;

        float: center;
        margin-left: 2%;
        margin-right: 10%;
    }

    .aside--text
    {
        text-align: left;
        padding: 5%;
        font-size: 15px;
        
        text-decoration: none;
    }

}

@media screen and (max-width: 720px) 
{
    .aside 
    {
        width: 95%;
        height: 40%;

        float: center;
        margin-left: 2%;
        margin-right: 10%;
    }

    .aside--text
    {
        text-align: left;
        padding: 5%;
        font-size: 15px;
        
        text-decoration: none;
    }
}

@media screen and (max-width: 480px) 
{
    .aside 
    {
        width: 95%;
        height: 40%;

        float: center;
        margin-left: 2%;
        margin-right: 10%;
    }

    .aside--text
    {
        text-align: left;
        padding: 5%;
        font-size: 15px;
        
        text-decoration: none;
    }
}

